streamlit
sentence-transformers
faiss-cpu
transformers
llama-cpp-python
PyPDF2
scikit-learn
numpy
pandas
matplotlib
seaborn
langchain
langchain-community
ctransformers
openai
llama-index
huggingface_hub
llama-index-llms-huggingface
llama-index-embeddings-huggingface