streamlit
langchain
langchain-community
chromadb
sentence-transformers
google-generativeai
google-api-core
python-dotenv
docx2txt
pymupdf
pandas
numpy
matplotlib
seaborn
plotly_express
huggingface_hub
transformers
llama-index
llama-index-llms-huggingface
llama-index-embeddings-huggingface

